.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 24px; /* How far down the page you want your ToC to live */

  /* Give table of contents a scrollbar */
  max-height: calc(100vh - 40px);
  overflow: auto;
}
h2, h3 {
  scroll-margin-top: 16px;
}
h2, h3 {
  padding-top: 16px;
  margin-top: -16px;
}

ul, li {
  list-style: none;
  margin: 20px 0;
}

a {
  color: grey !important;
  text-decoration: none !important;
  border-left: 4px solid;
  padding: 10px;
  margin: 0 10px;
}

li.active > a {
  color: blueviolet !important;
  border-left: 4px solid;
  padding: 10px;
  margin: 0 10px;
}

li > a:hover {
  color: blueviolet !important;
  border-left: 4px solid;
}

/* Safari-only */
@supports (-webkit-hyphens:none) {
  h2, h3 {
      padding-top: 16px;
      margin-top: -16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
